In [1]:
import pandas as pd
import requests
import sqlite3
conn = sqlite3.connect('Educacion.db')
# Cargar datos 
api_url = "https://www.datos.gov.co/resource/nudc-7mev.json?$limit=14585"
response = requests.get(api_url)
data = response.json()
df_educacion= pd.DataFrame(data)
df_educacion

,a_o,c_digo_municipio,municipio,c_digo_departamento,departamento,c_digo_etc,etc,poblaci_n_5_16,tasa_matriculaci_n_5_16,cobertura_neta,...,reprobaci_n_primaria,reprobaci_n_secundaria,reprobaci_n_media,repitencia,repitencia_transici_n,repitencia_primaria,repitencia_secundaria,repitencia_media,tama_o_promedio_de_grupo,sedes_conectadas_a_internet
0,2023,05004,Abriaquí,05,Antioquia,3758,Antioquia (ETC),503,62.62,62.62,...,1.96,16.51,2.04,9.52,0,10.46,13.76,2.04,NaN,NaN
1,2023,95025,El Retorno,95,Guaviare,3830,Guaviare (ETC),4438,53.27,53.27,...,7.11,9.39,1.75,9.34,6.95,11.84,8.48,3.16,NaN,NaN
2,2023,95200,Miraflores,95,Guaviare,3830,Guaviare (ETC),2014,32.52,32.52,...,6.93,14.13,7.81,8.65,6.67,9.04,10.25,1.54,NaN,NaN
3,2023,97001,Mitú,97,Vaupés,3831,Vaupés (ETC),10986,59.57,59.57,...,4.04,8.33,4.6,16.18,7.75,21.04,13.84,7.18,NaN,NaN
4,2023,97161,Caruru,97,Vaupés,3831,Vaupés (ETC),1228,51.3,51.3,...,7.32,15.28,7.27,9.24,2.86,7.62,14.85,3.64,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14580,2011,5036,Angelópolis,5,Antioquia,3758,Antioquia (ETC),1707,78.85,78.9,...,3.61,9.5,7.32,0.71,0,0.7,1.08,0,19.57,100
14581,2011,5034,Andes,5,Antioquia,3758,Antioquia (ETC),10244,84.45,84.5,...,0.58,0.04,2.69,5.41,0.73,5.53,6.9,4.11,24.43,93.44
14582,2011,5031,Amalfi,5,Antioquia,3758,Antioquia (ETC),5552,97.71,97.7,...,0,0,0,NaN,0.83,NaN,9.93,4.47,20.01,53.45
14583,2011,5030,Amagá,5,Antioquia,3758,Antioquia (ETC),6631,78.65,78.7,...,6.73,14.46,7.45,0.42,0,0.24,0.91,0,25.05,83.33
14584,2011,5021,Alejandría,5,Antioquia,3758,Antioquia (ETC),702,118.52,118.5,...,2.16,4.39,8.04,0.6,0,0.96,0,0,32.14,81.25

In [2]:
cursor = conn.cursor()
def ejecutar_sql(query, conexion=conn):
  """
  Toma una consulta SQL, la ejecuta y devuelve el resultado
  en una tabla de pandas para una visualización clara.
  """
  df = pd.read_sql_query(query, conexion)
  # Usamos display() porque en Colab presenta las tablas de forma más elegante.
  display(df)

In [3]:
ft = pd.DataFrame(df_educacion.isnull().sum()).reset_index()
ft.columns = ["Variable","Faltantes"]
ft = ft.sort_values(["Faltantes"],ascending=False)
ft.index = range(ft.shape[0])
ft["% Faltantes"] = ft["Faltantes"] * 100 / df_educacion.shape[0]
ft.head(41)

                       Variable  Faltantes  % Faltantes
0      tama_o_promedio_de_grupo       7013    48.083648
1   sedes_conectadas_a_internet       6817    46.739801
2          deserci_n_transici_n        903     6.191292
3               deserci_n_media        734     5.032568
4          deserci_n_secundaria        270     1.851217
5            deserci_n_primaria        242     1.659239
6         repitencia_transici_n        159     1.090161
7         repitencia_secundaria        152     1.042167
8           repitencia_primaria        148     1.014741
9             reprobaci_n_media        145     0.994172
10                   repitencia        143     0.980459
11                    deserci_n        142     0.973603
12             repitencia_media        139     0.953034
13        cobertura_bruta_media        127     0.870758
14      tasa_matriculaci_n_5_16        115     0.788481
15               cobertura_neta        111     0.761056
16       reprobaci_n_secundaria        106     0.726774
17             aprobaci_n_media        101     0.692492
18   cobertura_bruta_transici_n         97     0.665067
19         reprobaci_n_primaria         97     0.665067
20    cobertura_neta_secundaria         94     0.644498
21       reprobaci_n_transici_n         93     0.637641
22        aprobaci_n_transici_n         93     0.637641
23         cobertura_neta_media         93     0.637641
24      cobertura_neta_primaria         91     0.623929
25   cobertura_bruta_secundaria         88     0.603360
26                  reprobaci_n         86     0.589647
27     cobertura_bruta_primaria         81     0.555365
28              cobertura_bruta         68     0.466232
29        aprobaci_n_secundaria         54     0.370243
30    cobertura_neta_transici_n         52     0.356531
31                   aprobaci_n         25     0.171409
32          aprobaci_n_primaria         25     0.171409
33               poblaci_n_5_16          6     0.041138
34                   c_digo_etc          0     0.000000
35          c_digo_departamento          0     0.000000
36                          etc          0     0.000000
37                    municipio          0     0.000000
38             c_digo_municipio          0     0.000000
39                          a_o          0     0.000000
40                 departamento          0     0.000000

In [4]:
Total = len(df_educacion)
Var10mas = (df_educacion.isna().sum(axis=1) > 10).sum()
print(f"Eliminarías {Var10mas} filas de {Total} ({round(Var10mas/Total*100, 2)}%)")

Eliminarías 57 filas de 14585 (0.39%)

In [5]:
df_educacion['municipio'] = df_educacion['municipio'].str.replace(',', '', regex=False)
df_educacion['departamento'] = df_educacion['departamento'].str.replace(',', '', regex=False)
df_educacion['departamento'] = df_educacion['departamento'].str.replace('.', '', regex=False)
df_educacion['etc'] = df_educacion['etc'].str.replace(',', '', regex=False)
df_educacion['c_digo_etc'] = df_educacion['c_digo_etc'].str.replace('.', '', regex=False)
df_educacion['poblaci_n_5_16'] = df_educacion['poblaci_n_5_16'].str.replace('.', '', regex=False)
df_educacion['poblaci_n_5_16'] = df_educacion['poblaci_n_5_16'].str.replace(',', '', regex=False)

Esta etapa se realizó para estandarizar los nombres y corregir inconsistencias en los valores textuales. Por ejemplo, la ciudad de Bogotá aparecía registrada de distintas formas como Bogota, D.C o Bogotá D.C., lo que podría generar duplicados o errores en las dimensiones. Por ello, se eliminaron signos de puntuación como comas y puntos para unificar los registros.

In [6]:
ColumnasConvertir = df_educacion.columns[8:41]
df_educacion['poblaci_n_5_16'] = pd.to_numeric(df_educacion['poblaci_n_5_16'], errors='coerce')
for col in ColumnasConvertir:
    df_educacion[col] = pd.to_numeric(df_educacion[col], errors='coerce')

In [7]:
ColumnsSTR = [
    'a_o', 'c_digo_municipio', 'municipio',
    'c_digo_departamento', 'departamento',
    'c_digo_etc', 'etc'
]

df_educacion.loc[:, ColumnsSTR] = df_educacion.loc[:, ColumnsSTR].replace(r'^\s*$', pd.NA, regex=True)
df_educacion.loc[:, ColumnsSTR] = df_educacion.loc[:, ColumnsSTR].astype(str)

In [8]:
df_educacion.dtypes

a_o                             object
c_digo_municipio                object
municipio                       object
c_digo_departamento             object
departamento                    object
c_digo_etc                      object
etc                             object
poblaci_n_5_16                 float64
tasa_matriculaci_n_5_16        float64
cobertura_neta                 float64
cobertura_neta_transici_n      float64
cobertura_neta_primaria        float64
cobertura_neta_secundaria      float64
cobertura_neta_media           float64
cobertura_bruta                float64
cobertura_bruta_transici_n     float64
cobertura_bruta_primaria       float64
cobertura_bruta_secundaria     float64
cobertura_bruta_media          float64
deserci_n                      float64
deserci_n_transici_n           float64
deserci_n_primaria             float64
deserci_n_secundaria           float64
deserci_n_media                float64
aprobaci_n                     float64
aprobaci_n_transici_n          float64
aprobaci_n_primaria            float64
aprobaci_n_secundaria          float64
aprobaci_n_media               float64
reprobaci_n                    float64
reprobaci_n_transici_n         float64
reprobaci_n_primaria           float64
reprobaci_n_secundaria         float64
reprobaci_n_media              float64
repitencia                     float64
repitencia_transici_n          float64
repitencia_primaria            float64
repitencia_secundaria          float64
repitencia_media               float64
tama_o_promedio_de_grupo       float64
sedes_conectadas_a_internet    float64
dtype: object

In [10]:
filas_incompletas = df_educacion[df_educacion.isna().sum(axis=1) > 10]
df_educacion = df_educacion[df_educacion.isna().sum(axis=1) <= 10]

In [11]:
ft = pd.DataFrame(df_educacion.isnull().sum()).reset_index()
ft.columns = ["Variable","Faltantes"]
ft = ft.sort_values(["Faltantes"],ascending=False)
ft.index = range(ft.shape[0])
ft["% Faltantes"] = ft["Faltantes"] * 100 / df_educacion.shape[0]
ft.head(41)

                       Variable  Faltantes  % Faltantes
0      tama_o_promedio_de_grupo       6969    47.969438
1   sedes_conectadas_a_internet       6792    46.751101
2          deserci_n_transici_n        855     5.885187
3               deserci_n_media        681     4.687500
4          deserci_n_secundaria        219     1.507434
5            deserci_n_primaria        198     1.362885
6         repitencia_transici_n        124     0.853524
7         repitencia_secundaria        123     0.846641
8             reprobaci_n_media        120     0.825991
9           repitencia_primaria        120     0.825991
10                   repitencia        113     0.777808
11             repitencia_media        109     0.750275
12                    deserci_n        100     0.688326
13       reprobaci_n_secundaria         81     0.557544
14        cobertura_bruta_media         77     0.530011
15      tasa_matriculaci_n_5_16         74     0.509361
16               cobertura_neta         72     0.495595
17   cobertura_bruta_transici_n         69     0.474945
18         reprobaci_n_primaria         65     0.447412
19     cobertura_bruta_primaria         56     0.385463
20      cobertura_neta_primaria         55     0.378579
21                  reprobaci_n         54     0.371696
22        aprobaci_n_transici_n         52     0.357930
23       reprobaci_n_transici_n         52     0.357930
24             aprobaci_n_media         50     0.344163
25   cobertura_bruta_secundaria         49     0.337280
26    cobertura_neta_secundaria         45     0.309747
27         cobertura_neta_media         43     0.295980
28              cobertura_bruta         36     0.247797
29    cobertura_neta_transici_n         27     0.185848
30        aprobaci_n_secundaria         14     0.096366
31             c_digo_municipio          0     0.000000
32                          a_o          0     0.000000
33               poblaci_n_5_16          0     0.000000
34                          etc          0     0.000000
35                   c_digo_etc          0     0.000000
36                 departamento          0     0.000000
37                    municipio          0     0.000000
38          c_digo_departamento          0     0.000000
39                   aprobaci_n          0     0.000000
40          aprobaci_n_primaria          0     0.000000

Se eliminaron las filas que presentaban 10 o más variables con datos faltantes, ya que estas no aportan suficiente información útil para el análisis. Al revisar los registros eliminados, se identificó que la mayoría pertenecen a departamentos con baja densidad poblacional, como Guainía, Vaupés y Amazonas. En particular, el municipio de Papunaua aparece en varios años sin datos en la mayoría de las variables, lo que sugiere dificultades estructurales en la recolección o reporte de información educativa en esa zona. Esta decisión de limpieza busca conservar la calidad del análisis, manteniendo registros más completos y representativos.

In [12]:
ColumnsImputar = [
    'deserci_n_transici_n', 'deserci_n_media', 'deserci_n_secundaria',
    'deserci_n_primaria', 'repitencia_transici_n', 'repitencia_secundaria',
    'reprobaci_n_media', 'repitencia_primaria', 'repitencia', 'repitencia_media',
    'deserci_n', 'reprobaci_n_secundaria', 'cobertura_bruta_media',
    'tasa_matriculaci_n_5_16', 'cobertura_neta', 'cobertura_bruta_transici_n',
    'reprobaci_n_primaria', 'cobertura_bruta_primaria', 'cobertura_neta_primaria',
    'reprobaci_n', 'aprobaci_n_transici_n', 'reprobaci_n_transici_n',
    'aprobaci_n_media', 'cobertura_bruta_secundaria', 'cobertura_neta_secundaria',
    'cobertura_neta_media', 'cobertura_bruta', 'cobertura_neta_transici_n',
    'aprobaci_n_secundaria'
]

for col in ColumnsImputar:
    mediana = df_educacion[col].median(skipna=True)
    df_educacion[col].fillna(mediana, inplace=True)

C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_educacion[col].fillna(mediana, inplace=True)
C:\Users\L e n o v o\AppData\Local\Temp\ipykernel_19044\2943968127.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_educacion[col].fillna(mediana, inplace=True)

In [13]:
columnas_omitir = ['tama_o_promedio_de_grupo', 'sedes_conectadas_a_internet']

Data = df_educacion.drop(columns=columnas_omitir)

Se decidió omitir las variables tamaño_promedio_de_grupo y sedes_conectadas_a_internet debido a que presentaban un alto porcentaje de valores faltantes (cerca del 50%) y no eran relevantes para los objetivos del análisis. Las demás variables, al tener un porcentaje bajo de valores faltantes, fueron imputadas utilizando la mediana como método de estimación.

# Dimensiones 
2.

In [14]:
Dimmunicipio = Data[['c_digo_municipio', 'municipio']].drop_duplicates().reset_index(drop=True)
Dimmunicipio['id_municipio'] = Dimmunicipio.index + 1  
DimDepartamento = Data[['c_digo_departamento', 'departamento']].drop_duplicates().reset_index(drop=True)
DimDepartamento['id_Departamento'] = DimDepartamento.index + 1  
Dimetc = Data[['c_digo_etc', 'etc']].drop_duplicates().reset_index(drop=True)
Dimetc['id_etc'] = Dimetc.index + 1  
DimTiemp = Data[['a_o']].drop_duplicates().reset_index(drop=True)
DimTiemp['id_Tiempo'] = DimTiemp.index + 1

Creamos cuatro tablas dimensionales: una para los municipios, otra para los departamentos, una para las ETC y una para el tiempo (años). En cada una eliminamos los duplicados y asignamos un identificador numérico único (llave subrogada). Estas tablas nos permitirán conectar la información de forma organizada en la tabla de hechos.

# Tabla de hechos 
3.

In [15]:
df_hechos = Data.copy()
df_hechos = df_hechos.merge(Dimmunicipio, on=['c_digo_municipio', 'municipio'], how='left')
df_hechos = df_hechos.merge(DimDepartamento, on=['c_digo_departamento', 'departamento'], how='left')
df_hechos = df_hechos.merge(Dimetc, on=['c_digo_etc', 'etc'], how='left')
df_hechos = df_hechos.merge(DimTiemp, on=['a_o'], how='left')

In [16]:
ColumnasFinales = df_hechos.columns[7:45].tolist()
TablaHechos = df_hechos[ColumnasFinales].copy()

In [17]:
TablaHechos.head()

,poblaci_n_5_16,tasa_matriculaci_n_5_16,cobertura_neta,cobertura_neta_transici_n,cobertura_neta_primaria,cobertura_neta_secundaria,cobertura_neta_media,cobertura_bruta,cobertura_bruta_transici_n,cobertura_bruta_primaria,...,reprobaci_n_media,repitencia,repitencia_transici_n,repitencia_primaria,repitencia_secundaria,repitencia_media,id_municipio,id_Departamento,id_etc,id_Tiempo
0,503.0,62.62,62.62,44.19,63.33,51.53,40.23,66.80,58.14,72.86,...,2.04,9.52,0.00,10.46,13.76,2.04,1,1,1,1
1,4438.0,53.27,53.27,33.91,48.89,44.90,21.30,62.98,54.20,65.19,...,1.75,9.34,6.95,11.84,8.48,3.16,2,2,2,1
2,2014.0,32.52,32.52,17.58,25.33,26.43,10.75,38.58,36.36,37.28,...,7.81,8.65,6.67,9.04,10.25,1.54,3,2,2,1
3,10986.0,59.57,59.57,42.76,55.95,43.51,17.06,70.65,64.90,76.96,...,4.60,16.18,7.75,21.04,13.84,7.18,4,3,3,1
4,1228.0,51.30,51.30,76.32,52.29,33.71,11.94,55.54,92.11,65.21,...,7.27,9.24,2.86,7.62,14.85,3.64,5,3,3,1

# Consultas SQL

In [18]:
df_hechos.to_sql("hechos", conn, if_exists="replace", index=False)
Dimmunicipio.to_sql("Dimmunicipio", conn, if_exists="replace", index=False)
DimDepartamento.to_sql("DimDepartamento", conn, if_exists="replace", index=False)
Dimetc.to_sql("Dimetc", conn, if_exists="replace", index=False)
DimTiemp.to_sql("DimTiemp", conn, if_exists="replace", index=False)

13

In [19]:
consulta_1 = """
SELECT 
    dm.municipio,
    AVG(f.tasa_matriculaci_n_5_16) AS Promedio_escolaridad
FROM 
    hechos f
JOIN 
    Dimmunicipio dm ON f.id_municipio = dm.id_municipio
GROUP BY 
    dm.municipio
ORDER BY 
    Promedio_escolaridad DESC;
"""
ejecutar_sql(consulta_1)

       municipio  Promedio_escolaridad
0           Cota            185.033000
1      La Calera            144.078462
2        Salento            139.272308
3          Tenjo            134.774615
4        Fúquene            128.590769
...          ...                   ...
1031    Morichal             43.188333
1032   Pana Pana             33.944444
1033  Mapiripana             32.585556
1034    NACIONAL              0.922600
1035    Papunaua              0.000000

[1036 rows x 2 columns]

In [20]:
consulta_2 = """
SELECT 
    dm.municipio,
    AVG(f.aprobaci_n) AS promedio_aprobacion,
    AVG(f.reprobaci_n) AS promedio_reprobacion
FROM 
    hechos f
JOIN 
    Dimmunicipio dm ON f.id_municipio = dm.id_municipio
GROUP BY 
    dm.municipio
ORDER BY 
    promedio_aprobacion DESC;
"""
ejecutar_sql(consulta_2)

         municipio  promedio_aprobacion  promedio_reprobacion
0     Puerto Arica            99.111111              0.042222
1         Tibirita            98.415385              0.427692
2         La Palma            98.276154              0.199231
3        Guatavita            98.272308              0.274615
4         Chaguaní            98.187692              0.159231
...            ...                  ...                   ...
1031      Morichal            76.899167             10.050000
1032      Cacahual            75.590000             14.576250
1033    Mapiripana            73.242222             14.850000
1034      NACIONAL             0.900533              0.068633
1035      Papunaua             0.000000              0.000000

[1036 rows x 3 columns]

In [21]:
consulta_3 = """
SELECT 
    dd.departamento,
    AVG(f.cobertura_neta) AS promedio_cobertura_neta,
    AVG(f.cobertura_bruta) AS promedio_cobertura_bruta
FROM 
    hechos f
JOIN 
    DimDepartamento dd ON f.id_Departamento = dd.id_Departamento
GROUP BY 
    dd.departamento
ORDER BY 
    promedio_cobertura_neta DESC;
"""
ejecutar_sql(consulta_3)

,departamento,promedio_cobertura_neta,promedio_cobertura_bruta
0,Quindio,94.579615,109.717500
1,Sucre,93.849172,111.073136
2,Cesar,93.733262,108.429585
3,Magdalena,93.266026,113.807513
4,Meta,90.648408,102.383382
5,Bogotá DC,89.493077,96.255385
6,Tolima,89.239083,99.656547
7,Cundinamarca,88.550027,100.221043
8,Casanare,88.531336,98.667976
9,Antioquia,88.099538,100.167903
10,Córdoba,88.058109,101.774119
11,Atlántico,87.582718,97.793356
12,Bolívar,87.478289,101.205940
13,Santander,87.079036,98.505451
14,Huila,86.456154,95.053160
15,Risaralda,86.099121,99.765440
16,Boyacá,84.540475,94.508164
17,Caldas,84.112707,95.677436
18,Norte de Santander,83.667592,95.160636
19,Valle del Cauca,83.251593,96.530897
20,Arauca,82.408791,92.921758
21,Archipiélago de San Andrés Providencia y Santa...,82.218462,87.215000
22,La Guajira,81.725846,92.484051
23,Chocó,80.903897,98.624872
24,Putumayo,80.880059,92.023787
25,Vichada,80.674038,88.966154
26,Cauca,79.551941,94.934698
27,Nariño,78.071863,88.481298
28,Caquetá,77.631587,88.192212
29,Amazonas,62.948110,68.217087
30,Guainía,62.819362,73.341064
31,Guaviare,62.196346,71.737885
32,Vaupés,59.794412,69.368971
33,NACIONAL,0.920733,10334.333333